RewriteEngine On
RewriteBase /karthi/info-Email/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /karthi/info-Email/index.html [L]
